.title{
    height: 37px;
    background: #e9f0f9;
    
    .typographytitle{
        color: #0c7ed9;
        padding-top: 5px;
    }

    .titleNav{
        background-color: gray;
        // width: 540px;
        display: flex;
        align-items: center;

        .navItem{
            // width: 80px;
            padding: 0 8px;
            height: 37px;
            line-height: 37px;
            background-color: rgb(198, 155, 76);

            display: flex;
            justify-content: center;

            .navItemText{
                padding: 0 8px;
            }

            &:hover{
                background-color: #0c7ed9;
                border-radius: 5px 5px 0 0;
                color: white;
                cursor: pointer;
            }
        }
    }
}