.headerWrapper{
    
    .headerTitle{
        display: flex;
        justify-content: center;
        .headerContent{
            height: 100%;
            width: 1377px;
            background: no-repeat url("http://www2.scut.edu.cn/_upload/tpl/09/04/2308/template2308/img/bg-header.png");
            background-size:100% 100%;

            .headerContentText{
                line-height: 115px;
                height: 85px;
                color: #3b9ef0;
                font-weight: 600;
                margin-left: 60px;
                cursor: pointer;
            }
        }
    }
    .headerNav{
        height: 40px;
        display: flex;
        justify-content: center;

        .headerNavContent{
            background-color: #3b9ef0;
            width: 1377px;
        }
    }
}


.headerNavContent{
    display: flex;
}

.navItem{
    cursor: pointer;
    color: white;
    width: 172px;
    height: 40px;
    line-height: 40px;
    font-weight: 600;

    display: flex;
    justify-content: center;

    &:hover{
        background-color: rgb(69, 124, 218);
        color: white;
    }
}

.menuItem{
    height: 37px;
    display: flex;
    justify-content: center;


    // background-color: red;
    padding-left: 50px;

    &:hover{
        color: #3b9ef0;
    }
}